@model IEnumerable<ProfileUpload.Models.ImageUploadModel>

@{
    ViewData["Title"] = "GetEmployeeList";
}

<h1>GetEmployeeList</h1>

<p>
    <a asp-action="AddEditEmployee">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfilePic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
              @*  @Html.DisplayFor(modelItem => item.ProfilePic)*@
              <img src="~/Images/@item?.ProfilePic" class="rounded-circle" height="40" width="70" asp-append-version="true" />
            </td>
            <td>
                @Html.ActionLink("Edit", "AddEditEmployee", new { Id=item?.Id}) |
        @*        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
}
    </tbody>
</table>
