@model IEnumerable<SchoolMgmt_326.Model.Context.SP_GetTeacherDetails1_Result>

@{
    ViewBag.Title = "GetTeachers";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<link href="~/Content/common/Style1.css" rel="stylesheet" />
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Teacher Details</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Teacher</a></li>
                        <li class="breadcrumb-item active">Teacher Details</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 m-t-25">
                  
                    <div class=" table-responsive">
                        <table class="table table-borderless table-striped table-earning" id="TTable">
                            <thead>
                                <tr>
                                    <th>
                                        FirstName
                                    </th>
                                    <th>
                                       LastName
                                    </th>
                                    <th>
                                       Email
                                    </th>
                                    <th>
                                       Mobile NO.
                                    </th>
                                    <th>
                                        Gender
                                    </th>
                                    <th>
                                     Subjects
                                    </th>
                                    <th>
                                        Address
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.FirstName
                                        </td>
                                        <td>
                                            @item.Full_Name
                                        </td>
                                        <td>
                                            @item.Email
                                        </td>
                                        <td>
                                            @item.Mobile
                                        </td>
                                        <td>
                                            @item.Gender
                                        </td>
                                        <td>
                                            @item.Subjects
                                        </td>
                                        <td>
                                            @item.Address
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "UpdateTeacher", new { TecId = item.TecID }) |
                                            @Html.ActionLink("Details", "GetTeacherDetails", new { TecId = item.TecID }) |
                                          @Html.ActionLink("Delete", "DeleteTeacher", new { TecId = item.TecID })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
        let table = new DataTable('#TTable');
</script>

