@model School_326.Models.Models.StateModel

@{
    ViewBag.Title = "GetStateDetails";
}

<h2>GetStateDetails</h2>

<div>
    <h4>StateModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoId)
        </dd>

    </dl>
</div>
<p>
 
    @Html.ActionLink("Back to List", "Index")
</p>
