@model IEnumerable<School_326.Models.Context.Teacher>
@using School_326.Models.Models
@{
    ViewBag.Title = "GetTeachers";

    Pager pager = new Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }

}

<h2>GetTeachers</h2>

<p>
    @Html.ActionLink("Create New", "AddTeacher")
</p>
<table class="table">
    <tr>

        <th>
            FirstName
        </th>
        <th>
            LastName
        </th>
        <th>
            Address
        </th>
        <th>
            Mobile
        </th>
        <th>
            Email
        </th>
        <th>
            Gender
        </th>
        <th>
            SubjectId
        </th>
        <th>
            CountryName
        </th>
        <th>
            StateName
        </th>
        <th>
            CityName
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CiId)
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateTeacher", new { TecId = item.TecId }) |
                @Html.ActionLink("Details", "GetTeacherDetails", new { TecId = item.TecId }) |
                @Html.ActionLink("Delete", "DeleteTeacher", new { TecId = item.TecId })
            </td>
        </tr>
    }

</table>

<div class="container" style="text-align-last: end">
    @if (pager.TotalPages > 0)
    {
        <ul class="pagination">

            @if (pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="/City/GetCities/1">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="/City/GetCities/@(pager.CurrentPage - 1)">Previous</a>
                </li>
            }

            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" href="/City/GetCities/@pge">@pge</a>
                </li>
            }

            @if (pager.CurrentPage < pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="/City/GetCities/@(pager.CurrentPage + 1)">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="/City/GetCities/@(pager.TotalPages)">Last</a>
                </li>
            }
        </ul>
    }
</div>
