@model IEnumerable<SchoolManagement_SIT326.Models.Models.TeacherModel>
@{
    ViewBag.Title = "GetTeachers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetTeachers</h2>
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
<p>
    @Html.ActionLink("Create New","AddTeacher")
</p>
<table class="table">
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Gender</th>
        <th>Address</th>
        <th>MobileNo</th>
        <th>Email</th>
        <th>SubjectId</th>
        <th>Country</th>
        <th>State</th>
        <th>City</th>
        <th>Action</th>
    </tr>
    @foreach(var item in Model)
            {
<tr>
    <td>@item.FirstName</td>
    <td>@item.LastName</td>
    <td>@item.GenderName</td>
    <td>@item.Address</td>
    <td>@item.MobileNo</td>
    <td>@item.Email</td>
    <td>@item.SubjectId</td>
    <td>@item.CountryName</td>
    <td>@item.StateName</td>
    <td>@item.CityName</td>
    <td>
        <a href="/Teacher/AddTeacher?TecId=@item.TecId" class="btn btn-success">Edit</a> |
        <a href="/Teacher/GetTeacherById?TecId=@item.TecId" class="btn btn-info">Details</a> |
        <a href="/Teacher/DeleteTeacher?TecId=@item.TecId" class="btn btn-danger">Delete</a>
    </td>
</tr>
            }
</table>

