@model SchoolManagement_SIT326.Models.UserModel

@{
    ViewBag.Title = "SignIn";
    Layout = null;
}
<link defer href="~/Content/Theme/css/Style.css" rel="stylesheet" />
<div class="wrapper">

    <div class="title-text">
        <div class="title signup">Signup Form</div>
    </div>
    <h3 class="text-success">@TempData["Success"]</h3>
    @if (TempData["Error"] != null)
    {
        <h3 class="text-danger error">@TempData["Error"]</h3>
    }
    <div class="form-inner">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="field">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger error2" })

                </div><br />

                <div class="field">
                    @Html.LabelFor(model => model.PassWord, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.PassWord, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger error2" })

                </div><br />

                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Signin">
                </div>
                <br />
                <div>
                    Don't Have anaccount? @Html.ActionLink("Signup Here", "SignUp", "User")
                </div>
            </div>
        }
    </div>
</div>


<script src="~/Content/Theme/js/Script.js"></script>
