@model SchoolMgmt_326.Model.Model.StudentModel

@{
    ViewBag.Title = "UpdateStudent";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="~/Content/common/Style1.css" />
    <script defer src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script defer src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>

<body>
    <div class="main">
        <form action="/Student/UpdateStudent" method="post">
            <h1><lable>EDIT STUDENT</lable> </h1>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.SId)
            <div class="row">
                <div class="col-lg-6 inset">
                    <p>
                        <label for="fname">FIRST NAME</label>
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </p>
                </div>


                <div class="col-lg-6 inset">
                    <p>
                        <label for="lname">LAST NAME</label>
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 inset">
                    <p>
                        <label for="address">ADDRESS</label>
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </p>
                </div>

           
            </div>
            <div class="row">
                <div class="col-lg-6 inset">
                    <p>
                        <label for="mobile">MOBILE NO.</label>
                        @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                    </p>
                </div>


                <div class="col-lg-6 inset">
                    <p>
                        <label for="email">EMAIL</label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 inset">
                    <p>
                        <label for="gender">GENDER</label>
                        <div class="form-check-inline form-check">
                            @Html.RadioButton("Gender", "Male", false, new { id = "male", @class = "form-check-input" })
                            @Html.Label("Male", "Male", new { @for = "male", @class = "form-check-label " })
                            &nbsp; &nbsp;
                            @Html.RadioButton("Gender", "Female", false, new { id = "female", @class = "form-check-input" })
                            @Html.Label("Female", "Female", new { @for = "female", @class = "form-check-label " })
                            &nbsp; &nbsp;
                            @Html.RadioButton("Gender", "Other", false, new { id = "other", @class = "form-check-input" })
                            @Html.Label("Other", "Other", new { @for = "other", @class = "form-check-label " })
                        </div>
                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                    </p>
                </div>
                <div class="col-lg-6 inset">
                    <p>
                        <label for="teacher">TEACHER</label>
                        @if (ViewBag.TeList != null)
                        {
                            @Html.DropDownList("TecIdC", new SelectList(ViewBag.TeList, "TecId", "FirstName"), new { @class = "form-control", @multiple = "multiple", id = "TECId1" })
                            @Html.HiddenFor(m => m.TeacherId, new { @class = "TVal" })
                            @Html.ValidationMessageFor(modal => modal.TeacherId, "", new { @class = "text-danger" })
                        }

                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 inset">
                    <p>
                        <label for="Country">COUNTRY</label>
                        @if (ViewBag.CoList != null)
                        {
                            @Html.DropDownListFor(m => m.CountryId, new SelectList(ViewBag.CoList, "CoId", "CountryName"), "--Select Country--", new { @class = "form-control" })
                            @Html.ValidationMessageFor(modal => modal.CountryId, "", new { @class = "text-danger" })
                        }
                    </p>
                </div>


                <div class="col-lg-4 inset">
                    <p>
                        <label for="State">STATE</label>
                        @Html.DropDownListFor(m => m.StateId, new SelectList(""), "--Select State--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(modal => modal.StateId, "", new { @class = "text-danger" })
                    </p>                              
                </div>

                <div class="col-lg-4 inset">
                    <p>
                        <label for="City">CITY</label>
                        @Html.DropDownListFor(m => m.CityId, new SelectList(""), "--Select City--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(modal => modal.CityId, "", new { @class = "text-danger" })
                    </p>
                </div>
                </div>
                <p class="p-container">
                    <input type="submit" class="form-submit" value="Submit" />
                </p>
        </form>
        <br /><br />
              <h3>@Html.ActionLink("Back To List", "GetStudents", "Student")</h3>
    </div>
    
    <script src="~/Content/common/Form.js"></script>
    <script>
        if ($('#TECId1').length > 0) {
            $('#TECId1').val($('.TVal').val().split(","));
            $('#TECId1').trigger("change");
        }

        $('#TECId1').change(function () {
            $('.TVal').val(Array.from($('#TECId1 option:selected')).map((m) => m.value).join(","));
        });

        $(document).ready(function () {
            $("#TECId1").select2({
                placeholder: "Select Teachers",
                multiple: true
            });
        })
    </script>
</body>
</html>