@model IEnumerable<SchoolMgmtWEB_326.Models.Models.CityModel>

@{
    ViewBag.Title = "GetCities";
    Layout = "~/Views/Shared/LayoutMain.cshtml";
}
<style>
    th, td {
        color: white;
    }
</style>
<h2>GetCities</h2>
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
<p>
    <a href="/City/AddEditCity" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CityName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.StateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CityName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.StateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                <a href="/City/AddEditCity?CtId=@item.CityId" class="btn btn-success">Edit</a> |
                <a href="/City/GetCityById?CtId=@item.CityId" class="btn btn-info">Details</a> |
                <a href="/City/DeleteCity?CtId=@item.CityId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }

</table>
