@model SchoolSystem326.Model.ViewModels.StateModel
@{
    ViewData["Title"] = "AddEditState";
}

<h1>AddEditState</h1>
<div class="container">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.StateId)
        <div class="form-group">
            @Html.LabelFor(m => m.CountryName,new {@class="control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.CountryId,ViewBag.countryList as SelectList,"--Select Country--",new {@class="form-control"})
                @Html.ValidationMessageFor(m => m.CountryId,"",new {@class="text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.StateName,new {@class="control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(m => m.StateName,new {@class="form-control"})
                @Html.ValidationMessageFor(m => m.StateName,"",new {@class="text-danger"})
            </div>
        </div>

        <div class="form-group m-5">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    }
</div>
