@model IEnumerable<SchoolSystem326.Model.ViewModels.StateModel>

@{
    ViewData["Title"] = "GetAllStates";
}

<h1>GetAllStates</h1>

<p>
    <a asp-action="AddEditState">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
      
            <th>
                @Html.DisplayNameFor(model => model.StateName)
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.StateName)
            </td>
     
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "AddEditState", new {  Id=item.StateId  }) |
             @*   @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>
